@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
.mainarea__wrapper {
  height: 100vh;
  transition: 1000ms ease;
}

.mainarea__content {
  font-family: "Staatliches", cursive;
}

.mainarea__content h4 {
  cursor: pointer;
}
